{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% for dish in dishes %}
  <div class="row justify-content-center" style="margin-top: 2%; margin-bottom: 1%">
    <div class="col-md-9 col-sm-12 card">
      <div class="row justify-content-between card-header">
        <h4 class="col-auto">
          <a href="{% url 'get_dish' dish.pk %}">{{ dish.name }}</a>
        </h4>
        <div class="col-auto">
          <button type="button" value="{{ dish.pk }}" id="like{{ dish.pk }}" class="btn btn-danger {% if not dish.user_like %}btn-outline-danger{% endif %} like">{{ dish.likes_count }}</button>
          <button type="button" value="{{ dish.pk }}" id="favorite{{ dish.pk }}" class="btn btn-warning {% if not dish.user_favorite %}btn-outline-warning{% endif %} favorite">{{ dish.favorites_count }}</button>
        </div>
      </div>
      <div class="card-img">
        <div class="row">
          <img src="{{ dish.picture_file.url }}" width="100%" height="100%">
        </div>
      </div>
      <div class="row justify-content-between card-footer">
        <div class="col-auto">Автор: {{ dish.author.username }}</div>
        <div class="col-auto">{{ dish.created_at }}</div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static '/js/home.js' %}"></script>
  {% if user.is_authenticated %}
    <script type="text/javascript" src="{% static '/js/base.js' %}"></script>
  {% endif %}
{% endblock %}